/* Shared styles */
* {
  padding: 0px;
  margin: 0px;
  /* max-width: 1440px; */
}

.p-primary {
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* header styles */
header {
  background-color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 130px;
}
.travel {
  color: #ff5400;
  /* font-family: Mulish; */
  /* font-size: 36px; */
  /* font-weight: 800; */
}
.icon {
  position: relative;
  top: 10px;
  right: 15px;
  width: 48px;
  height: 56.008px;
  padding-left: 10px;
}

.nav h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.nav ul {
  display: flex;
  padding-top: 14px;
  padding-right: 30px;
}
.nav li {
  list-style: none;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 45px;
}
.nav a {
  text-decoration: none;
  color: #424247;
}
.home {
  color: #ff5400;
}
.banner-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group\ 13.png);

  background-size: cover;
  background-position: center;
  /* left: 120px; */
  margin: 50px 130px;
  /* padding-right: 18px; */
  /* background-size: 95%; */
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 16px;
  width: 83%;
  height: 500px;
}

.banner-container h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 100px 280px 24px;
}

.banner-container p {
  color: #fff;
  /* text-align: center; */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.input{
  text-align: center;
  margin-top: 35px;
}

.banner-input{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
margin-top: 40px;
}
.banner-input input,select, button{
  margin-bottom: 20px;
}

.banner-input input{
  width: 170px;
    height: 50px;
    
    border-radius: 8px;
    border: none;
   
    cursor: pointer;
 
    font-family: Mulish;
    font-size: 16px;
  
    font-weight: 400;
   
    position: relative;
   
}
.banner-input select{
  width: 170px;
    height: 50px;
   
    border: none;
    border-radius: 8px;
  
    cursor: pointer;
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 16px;
    
    font-weight: 400;
   
   
    
   
    
    position: relative;
   
}
.banner-input button{
  margin-top: 37px;
}


.btn-primary svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: relative;
  right: 10px;
  top: 2.5px;
}
.btn-primary span {
  color: white;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  bottom: 3px;
}




























/* popular tours styles*/
.popular-tours {
  display: flex;
  padding: 50px 130px;
}
.popular-desciption {
  position: relative;
  right: 15px;
}
.popular-tours h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.popular-tours p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  /* padding: 24px; */
  margin: 20px;
}

.popular-tours ul {
  margin-left: 50px;
}

.popular-tours li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 16px 5px;
}
.popular-tours button {
  border: none;
  position: relative;
  left: 6px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}
.popular-img {
  border-radius: 16px;
  width: 540px;
  height: 550px;
  flex-shrink: 0;
  position: relative;
  left: 466px;
}

/* Your Destination text */

.destination-text {
  text-align: center;
  padding: 50px 130px;
  margin-bottom: 20px;
}
.destination-text h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.destination-text p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.destination-images {
  
  position: relative;
  /* border: 1px solid orangered; */
  width: 73%;
 
  margin-left: 130px;
  
  padding-left: 200px;
  /* border-radius: 16px; */
  
}
.row {
  display: flex;
  gap: 22px;
  margin: 25px;
}
.maldiv h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 16%;
left: 440px;
}
.indonesia h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 16%;
left: 67%;
}
.srilanka h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 48%;
left: 23%;
}
.northame h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 48%;
left: 49%;
}
.kashmir h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 48%;
left: 76%;
}
.bd h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 79%;
left: 25%;
}
.bandar h3{
  color: #ffffff;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
top: 80%;
left: 62%;
}





/* Choose container styles */
.choose-container {
  /* margin-top: 20px; */
  padding-top: 40px;
}
.choose-text h3 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.choose-text p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 20px;
}
.choose-reason {
  margin-top: 20px;
}
.reason-row {
  display: flex;
  justify-content: center;
}
.reason1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 250px;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 30px;
  margin-left: 20px;
}
.reason1 h4 {
  padding-top: 35px;
}
.reason1 p {
  padding-top: 10px;
}

.reason2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  width: 573px;
  height: 250px;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 30px;
  margin-left: 20px;
}
.reason2 h4 {
  padding-top: 35px;
}
.reason2 p {
  padding-top: 10px;
}

.reason3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 573px;
  height: 250px;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  left: 650px;
}
.reason3 h4 {
  padding-top: 35px;
}
.reason3 p {
  padding-top: 10px;
}


/* deals and discount */

.deal-discount-container{
  margin: 90px 130px;
  text-align: center;
}
.deal-text{
  margin: 50px;
}
.deal-text h3{
  color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.deal-text p{
  color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.deals-images{
  position: relative;
}
.images-des{
  border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
flex-shrink: 0;
position: absolute;
top: 12%;
left: 48%;
}
.images-des2{
  border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
flex-shrink: 0;
position: absolute;
top: 12%;
left: 16%;
}
.images-des p{
  padding-top: 40px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 552px;
}
.images-des2 p{
  padding-top: 40px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 552px;
}
.images-des h4{
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 20px;
}
.images-des2 h4{
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 20px;
}
.images-des h6{
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 20px;
}
.images-des2 h6{
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 20px;
}
.deal-discount-container .btn-primary{
  margin-top: 50px;
  margin-bottom: 40px;
}








/* get lost styles */
.get-lost-container {
  display: flex;
  margin: 0 130px;
  justify-content: space-between;
}
.getlost-text h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
}
.getlost-text p{
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 25px;
}

.getlost-text ul{
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  padding-top: 25px;
}
.getlost-text li{
  padding-top: 15px;
  margin-left: 15px;
}
.getlost-text  button{
  margin-top: 30px;
}
.getlostimage img{
  /* position: relative; */
  padding-right: 65px;
  
}

/* .svg p{
  position: absolute;
  left: 10px;
} */

/* next trip */
.next-trip{
  margin: 50px 137px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 80%;
  height: 322px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-left: 40px;
  
}
.trip-description{
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
.trip-heading{
  text-align: center;
}
.trip-heading h3{
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}
.trip-heading h4{
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.description1, 
.description2, 
.description3 p{
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 16px; 162.5% */
  /* padding-top: 25px; */
}
.description1 h6{
  color: #131318;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.description2 h6{
  color: #131318;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.description3 h6{
  color: #131318;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.description3{
  padding-right: 30px;
}




/* newsletter */
.newsletter-container {
  display: flex;
  margin: 20px 130px;
  gap: 150px;
  justify-content: space-between;
}
.newsletter-text {
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 474px;
  height: 422px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-left: 40px;
  margin-left: 10px;
}
.newsletter-text h4 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-text p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.newsletter-text input {
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 393px;
height: 52px;
margin-top: 28px;
}
.newsletter-text button {
  border-radius: 8px;
  background: #ff5400;
  width: 393px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 25px;
  border: none;
}
.newsletter-image{
  position: relative;
  padding-right: 68px;

}
.discount-new {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  text-align: center;
  position: absolute;
  left: 340px;
  top: 255px;
  /* top: 20px; */
  /* padding: 200px; */
  /* bottom: 1150px; */
}
.discount-new p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 23px;
}
.discount-new h5 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* Footer styles */
footer {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
}
footer h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
}
footer svg {
  width: 40px;
  height: 46.673px;
  flex-shrink: 0;
}

footer p {
  padding: 15px 330px 30px 330px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 48px 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: rgba(19, 19, 24, 1);
}
.socials a i {
  font-size: 20px;
}
.footer-bottom {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}

/* Responsive mobile Design */

@media screen and (max-width: 600px) {
  .nav, .nav ul, .banner-input, .popular-tours,.popular-img,.row, .destination-images,.maldiv,
  .reason-row, .get-lost-container,.trip-description, .newsletter-container{
    flex-direction: column;
  }
  .banner-container, .popular-tours{
    margin: 10px 35px;
    height: 20%;
  }
  .popular-tours{
text-align: center;
  }
  .banner-input{
    margin: 50px;
  }
  .banner-container h1, .banner-container p, .banner-input, .popular-tours,.destination-text,.get-lost-container
  
  {
    /* text-align: center; */
    padding: 10px 10px;
    margin: 5px 5px;
  }
.reason3{
  position: static;
  /* width: 50%; */
  padding: 0;
  width: 90%;
}
.popular-img{
  position: static;
  padding: 0;
  width: 100%;
}
.popular-img img{
  width: 100%;
}
.reason1, .reason2{
  width: 90%;
  padding: 0;
  margin: 10px;
}
.destination-images,.maldiv{
  padding: 0px;
  width: 10px;
  margin: 0px 0px;
  gap: 5px;
  /* justify-content: center; */
}
.deal-discount-container{
  margin: 10px 5px;
  padding: 5px 5px;
}

.getlostimage img{
  padding: 10px 10px;
  width: 95%;
}
.next-trip{
  margin: 10px 10px;
  padding: 5px 25px;
  height: 100%;
  text-align: center;
}
.newsletter-container,.newsletter-text ,.newsletter-text input, .newsletter-text button{
  margin: 10px 10px;
  padding: 10px 10px;
  width: 80%;
  height: 100%;
}
.deals-images img,.deals-images {
  margin: 10px 10px;
  padding: 10px 10px;
  width: 90%;
  height: 100%;
}
.images-des{
  margin: 2px 2px;
  padding: 5px 5px;
  width: 90%;
  height: 100%;
}
.newsletter-image{
  padding: 10px 10px;
  margin: 10px 10px;
 justify-content: center;
 align-items: center;
}
footer p{
  padding: 10px 10px;
  margin: 5px 5px;
}
}
